.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-left: 120px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;
}
.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-right: 50px;
  font-size: 18px;
}
.nav_day {
  border: 1px solid #928d8d61;
  border-radius: 5px;
  height: 40px;
  width: 90px;
  background-color: transparent;
  outline: none;
  margin-right: 50px;
  font-weight: 700;
}
.nav__arow {
  display: flex;
  margin-right: 50px;
}
.nav__arow_right {
  background-image: url("https://img.icons8.com/material-sharp/24/000000/forward.png");
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-position: center;
  background-size: auto;
}
.nav__arow_left {
  background-image: url("https://img.icons8.com/material-sharp/24/000000/forward.png");
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: rotate(180deg);
  background-position: center;
  background-size: auto;
}

.plus {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: #fff;
}
.header__week-block {
  height: 80px;
  width: 100%;
  display: flex;
}
.header__week-block_line {
  flex: 1;
  display: flex;
  border-bottom: 1px solid #a7abb0;
}
.header__week-block_days {
  flex: 1;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
}
.header__week-block_part-bord {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 1px;
  background-color: #a7abb0;
}
.header__week-block_gmt-cell {
  padding-right: 2%;
  align-self: flex-end;
  padding-bottom: 1%;
  width: 6%;
  position: relative;
}
.header__week-block_gmt-cell_part-bord {
  width: 15px;
  height: 1px;
  background-color: #a7abb0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.header__week-block_dayname, .header__week-block_daydate {
  margin: 0;
}
.header__week-block_dayname, .header__week-block_gmt-cell {
  color: #52575c;
  font-size: 12px;
}
.header__week-block_daydate {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  margin-top: 5px;
}
.header__week-block_daydate:hover {
  background-color: #e8edf3;
}

.today__header__week-block_days .header__week-block_dayname {
  color: #0851f6;
}
.today__header__week-block_days .header__week-block_daydate {
  background-color: #0851f6;
  color: #fff;
}

.main {
  width: 100%;
  position: relative;
  top: 160px;
  display: flex;
}
.main__sidebar_time {
  color: #52575c;
  font-size: 12px;
}
.main__sidebar_timing {
  width: 6%;
}
.main__sidebar_timing_place {
  height: 50px;
  position: relative;
}
.main__sidebar_timing_place span {
  position: absolute;
  top: -8px;
}
.main__sidebar_timing_place-bord {
  width: 15px;
  height: 1px;
  background-color: #a7abb0;
  position: absolute;
  right: 0;
  top: -1px;
}
.main__sidebar_days {
  flex: 1;
}
.main__sidebar_days_line {
  display: flex;
}
.main__sidebar_days_place {
  height: 50px;
  flex: 1;
  border-bottom: 1px solid #a7abb0;
  border-left: 1px solid #a7abb0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #fff;
  height: 100vh;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #000;
}

/*# sourceMappingURL=main.css.map */
