//bacground colors
$backgroundColor: #fff;
$backgroundGreyColor: #e8edf3;


//text colors
$textColorBlack: #000;
$textColorgrey: #52575c;

//border colors
$borderColor: #e0e5ea;

//other
$commoFontSize: 14px;
$blueColor: #0851f6;
$blueColorDarker: #0b60c0;