//bacground colors
$backgroundColor: #fff;
$backgroundGreyColor: #e8edf3;


//text colors
$textColorBlack: #000;
$textColorgrey: #52575c;

//border colors
$borderColor: #a7abb0;

//other
$commoFontSize: 14px;
$blueColor: #0851f6;