*{
    box-sizing: border-box;
}
body{
    font-size: $commoFontSize;
    background-color: $backgroundColor;
    height: 100vh;
    font-family: 'Roboto', Helvetica,Arial,sans-serif;
    color: $textColorBlack;
}
.header{
    position: fixed;
    width: 100%;
    background-color: $backgroundColor;
    z-index: 3;
    &__week-block{
        display: flex;
        &_days{
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding: 10px 0 5px 0;
            border-bottom: 1px solid $borderColor;
            position: relative;
        }
        &_dayname, &_daydate{
            margin: 0;
            padding-top: 6px;
        }
        &_daydate{
            padding: 10px;
            display: inline-block;
            border-radius: 50%;
            margin-top: 3px;
        }
        &_daydate:hover{
            background-color: $backgroundGreyColor;
            cursor: pointer;
        }
        &_dayname, .gmt-cell{
            color: $textColorgrey;
            font-size: 10px;
        }
        .gmt-cell{
            text-align: left;
            align-self: flex-end;
            flex-shrink: 2;
            padding-right: 20px;
        }
        &_part-bord{
            width: 1px;
            height: 20px;
            background-color: $borderColor;
            position: absolute;
            bottom: 0;
        }
    }
    
}

.today__header__week-block_days{
    .header__week-block_dayname{
        color: $blueColor;
    }
    .header__week-block_daydate{
        background-color: $blueColor;
        color: $backgroundColor;
    }
}


.main{
    position: relative;
    top: 70px;
}